

    <div class="" ng-show="showLoading">
            <md-content layout-padding style="background-color: transparent">
              <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 245px;">
                <md-progress-circular class="md-accent" md-diameter="60"></md-progress-circular>
              </div>
            </md-content>
      </div>
  
    <div class="bouquetContainer" ng-show="!showLoading">
        <div class="allList" style="width: 20%;position: relative;">
            <div class="addBouquetOverlay" ng-if="!addShow"></div>
                <div class="searchDiv">
                <div class="overlay-search"></div>
                <div class="searchCont" style="width: 100%;">
                    <div class="form-group" style="width: 100%;">
                        <input type="text" class="form-control" id="search" placeholder="Search" ng-model="search">
                        <img class="" src="app/assets/img/add.png" ng-if="addShow" data-ng-click="goToAddBouquet();" style="width: 15%;margin-left: 15px;">
                    </div>
                </div>
            </div>
            <div class="bouquetsList">
                <div class="lists" whenScrolled="loadMore();">
                    <div class="list" ng-repeat="bouquet in bouquetList 
                    | filter : search as filtered_result track by $index"
                    id="{{$index}}"
                     data-ng-click="getAllChannelsInBouquet(bouquet.id)"
                     ng-class="{'listActive':bouquet.id === bouquetDetail._id}"
                     >
                     <!-- <div class="overlayList"></div> -->
                     <!-- <p data-ng-click="deleteBouquet(bouquet.id)" style="    position: absolute;
                        top: 15px;
                        right: 20px;
                        z-index: 99999999999999;">Delete</p> -->
                        <div class="bouquetName" id="{{bouquet.id}}">
                            <img id="" class="bouquetImage" src="https://stage.tooliserver.com/media/v1{{bouquet.logoUrl}}" ng-if="bouquet.logoUrl !== 'http://default_tooli_logo_url.png'" style="width: 25%;margin-right: 5px;height: 44px;">
                            <img id="" class="bouquetImage" src="../assets/img/placeholder.png" ng-if="bouquet.logoUrl === 'http://default_tooli_logo_url.png'" style="width: 25%;margin-right: 5px;height: 44px;">
                            <div  style="display:inline-block;margin-top:-5px;display: inline-block;
                            width: 70%;">
                                <p class="chName">{{bouquet.displayName}}</p>
                            </div>
                        </div>
                    </div>
                    <p ng-if="!filtered_result.length" class="errorMessageList">No Bouquets</p>
                </div>
            </div>
        </div>

        <div class="" ng-show="showLoadingDetails">
            <md-content layout-padding style="background-color: transparent">
                <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 245px;">
                <md-progress-circular class="md-accent" md-diameter="60"></md-progress-circular>
                </div>
            </md-content>
        </div>
    
    
        <div class="listDetails" ng-show="!showLoadingDetails" style="width: 78%;">
            <div class="" ng-show="!editChannels">
                <div class="">
                    <div class="row">
                        <div class="col-md-8" ng-class="{'addBouquet':addShow === false}">

                        <div class="detailsBlock">

                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;">
                                        <div class="detailsBlockH" ng-if="addShow" style="
                                            float: left;
                                            display: inline-block;
                                            left: 20px;
                                            ">Bouquet Information
                                        </div>
                                        <div class="detailsBlockH" ng-if="!addShow" style="
                                            float: left;
                                            display: inline-block;
                                            left: 20px;
                                            ">Add Bouquet
                                        </div>
                                           <div style="
                                            float: right;
                                            display: inline-block;
                                            ">
                                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns" ng-if="addShow">
                                                <md-button class="md-raised btnWidth" ng-show="!editBouquetDetails" data-ng-click="editBouquetInfo();">Edit</md-button>
                                                <md-button class="md-raised btnWidth updateBouquetDetails" ng-show="editBouquetDetails" data-ng-click="updateBouquetInfo(bouquetDetail._id);">Update</md-button>
                                                <md-button class="md-raised btnWidth" ng-show="editBouquetDetails" data-ng-click="cancelBouquetInfo();">Cancel</md-button>
                                            </section>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <div class="detailsImg">
                                    <div class="row">
                                            <div class="col-md-6">
                                                <p style="font-size: 16px;margin-bottom: 5px;font-weight: 600;color: #808080;">Logo</p>
                                                <img ng-if="addShow" src="https://stage.tooliserver.com/media/v1{{bouquetDetail.logoUrl}}" ng-if="bouquetDetail.logoUrl !== undefined" style="width: 130px;">
                                                <img id="" ng-if="!addShow" src="app/assets/img/placeholder.png" style="width: 130px;">
                                                <img src="../assets/img/placeholder.png" ng-if="bouquetDetail.logoUrl === undefined" style="width: 130px;">
                                                <form method="POST" enctype="multipart/form-data" id="fileUploadForm" style="width: 40%;display: inline-block;margin-left: 3%;margin-top: 15px;" ng-show="editBouquetDetails">
                                                    <input id="imgloadLogo" type="file" name="files"/ style="border: 0px;">
                                                    <p class="messageError imgErrorLogo" style="display: none;">Invalid Image URL</p>
                                                </form>
                                            </div>
                                            <div class="col-md-6">
                                                <p style="font-size: 16px;margin-bottom: 5px;font-weight: 600;color: #808080;">Cover</p>
                                                <img ng-if="addShow" src="https://stage.tooliserver.com/media/v1{{bouquetDetail.coverUrl}}" ng-if="bouquetDetail.coverUrl !== undefined" style="width: 130px;">
                                                <img id="" ng-if="!addShow" src="app/assets/img/placeholder.png" style="width: 130px;">
                                                <img src="../assets/img/placeholder.png" ng-if="bouquetDetail.coverUrl === undefined" style="width: 130px;">
                                                <form method="POST" enctype="multipart/form-data" id="fileUploadForm" style="width: 40%;display: inline-block;margin-left: 3%;margin-top: 15px;" ng-show="editBouquetDetails">
                                                    <input id="imgloadCover" type="file" name="files"/ style="border: 0px;">
                                                    <p class="messageError imgErrorCover" style="display: none;">Invalid Image URL</p>
                                                </form>
                                            </div>
                                        </div>
            
                                <!-- <img src="https://stage.tooliserver.com/media/v1{{bouquetDetail.logoUrl}}" ng-if="bouquetDetail.logoUrl !== undefined" style="width: 130px;">
                                <img src="../assets/img/placeholder.png" ng-if="bouquetDetail.logoUrl === undefined" style="width: 130px;">
                                <form method="POST" enctype="multipart/form-data" id="fileUploadForm" style="width: 30%;display: inline-block;margin-left: 3%;margin-top: 15px;" ng-show="editBouquetDetails">
                                    <input id="imgload" type="file" name="files"/ style="border: 0px;">
                                    <p class="messageError imgError" style="display: none;">Invalid Image URL</p>
                                </form> -->



                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12"> -->
                                    <div class="row" ng-if="!addShow" style="margin-top: 30px;">
                                        <div class="col-md-3">
                                            <p class="datailsLabel margin2">Bouquet Name :</p>
                                        </div>
                                        <div class="col-md-6">
                                            <div layout="row">
                                                <md-input-container md-no-float class="md-block" flex="100">
                                                    <input type="text" id="bouquetName" placeholder="Bouquet Name" size="20" maxlength="20">
                                                    <p class="messageError nameError" style="display: none;" style="font-size: 12px;"></p>
                                                </md-input-container>
                                            </div>
                                            <!-- <p class="detailsData name">{{channelDetail.n}}</p> -->
                                        </div>
                                    </div>

                                    <p class="messageError addBouquetError" style="display: none;" style="font-size: 12px;display: inline-block;">
                                        Display Name cannot be empty
                                    </p>
                                    <p class="messageError">{{addBouquetError}}</p>

                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns" style="margin-top: 30px;" ng-if="!addShow">
                                        <!-- <md-button class="md-raised btnWidth" ng-if="addShow" data-ng-click="goToAddBouquet();">go to Add Bouquet</md-button> -->
                                        <md-button class="md-raised btnWidth" data-ng-click="addBouquet();">Add Bouquet</md-button>
                                        <md-button class="md-raised btnWidth" data-ng-click="cancelAdd();">Cancel</md-button>
                                    </section>
                            
                                    <!-- <div class="row">
                                        <div class="col-md-12"> -->
                                            <div class="row" ng-if="addShow">
                                                <div class="col-md-3">
                                                    <p class="datailsLabel margin2">Bouquet Name :</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="detailsData margin2 name" ng-show="!editBouquetDetails">{{bouquetDetail.displayName}}</p>
                                                    <div layout="row" ng-show="editBouquetDetails">
                                                        <md-input-container md-no-float class="md-block" flex="100">
                                                            <input ng-model="bouquetDetailCopy.displayName" type="text" id="name" placeholder="Bouquet Name" size="20" maxlength="20">
                                                            <p class="messageError nameError" style="display: none;" style="font-size: 12px;"></p>
                                                        </md-input-container>
                                                    </div>
                                                    <!-- <p class="detailsData name">{{channelDetail.n}}</p> -->
                                                </div>
                                            </div>
                                            <div class="row" ng-if="addShow">
                                                <div class="col-md-3">
                                                    <p class="datailsLabel margin2">Bouquet Type :</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="detailsData margin2">{{bouquetDetail.type}}</p>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="addShow">
                                                <div class="col-md-3">
                                                    <p class="datailsLabel margin2">Bouquet Status :</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="detailsData margin2" ng-show="!editBouquetStatusInfo">{{bouquetDetail.status}}</p>
                                                    <div layout="row" layout-align="space-between center" ng-show="editBouquetStatusInfo">
                                                        <md-select id="status" name="type" placeholder="Select value" class="md-no-underline" ng-model="bouquetDetailCopy.status">
                                                            <md-option value="Active">Active</md-option>
                                                            <md-option value="Inactive">Inactive</md-option>
                                                        </md-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                                                        <md-button class="md-raised btnWidth" ng-show="!editBouquetStatusInfo" data-ng-click="editBouquetStatus();">Edit</md-button>
                                                        <md-button class="md-raised btnWidth" ng-show="editBouquetStatusInfo" data-ng-click="updateBouquetStatus(bouquetDetail._id);">Update</md-button>
                                                        <md-button class="md-raised btnWidth" ng-show="editBouquetStatusInfo" data-ng-click="cancelBouquetStatus();">Cancel</md-button>
                                                    </section>
                                                </div>
                                            </div>

                                            <div class="row" ng-if="addShow">
                                                <div class="col-md-12">
                                                    <p class="messageError">{{updateStatusError}}</p>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="addShow">
                                                <div class="col-md-3">
                                                    <p class="datailsLabel margin2">Creation Date :</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="detailsData margin2">{{bouquetDetail.createdDate | date : 'longDate'}} {{bouquetDetail.createdDate | date : 'mediumTime'}}</p>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="addShow">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12" ng-show="!editBouquetDetails">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <p class="datailsLabel margin2">
                                                                            IsDefault :
                                                                    </p>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <p class="detailsData margin2">{{bouquetDetail.isDefault}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <md-checkbox ng-model="bouquetDetailCopy.isDefault" ng-show="editBouquetDetails" checked="{{bouquetDetailCopy.isDefault}}" aria-label="Checkbox 1" style="margin-bottom: 5px;">
                                                                    IsDefault : <span id="IsDefault">{{bouquetDetailCopy.isDefault}}</span>
                                                            </md-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                           <!-- end  -->

                                            <div class="detailsBlock" ng-if="addShow">
                                                <div class="row">
                                                    <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;">
                                                        <div class="detailsBlockH">Price Information</div>
                                                    </h4>
                                                        <div class="col-md-5">
                                                            <p class="datailsLabel">Number of Channels :</p>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p class="detailsData">{{totalCount}}</p>
                                                        </div>
                                                    <!-- <div class="row">
                                                        <div class="col-md-12">
                                                            <md-button class="md-raised btnWidth" data-ng-click="showPriceInfo();">View Price Information</md-button>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        <!-- </div>
                                    </div> -->
                                    <!-- <md-divider ng-if="addShow"></md-divider> -->
                                    <div class="detailsBlock" ng-if="addShow">
                                        <div class="row">
                                            <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;">
                                                <div class="detailsBlockH">Log Information</div>
                                            </h4>
                                                <div class="col-md-3">
                                                    <p class="datailsLabel">Last Modified :</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="detailsData">
                                                        {{bouquetDetail.modifiedDate | date : 'longDate'}} {{bouquetDetail.modifiedDate | date : 'mediumTime'}}
                                                    </p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p><a class="link">Log Details</a></p>
                                                </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6" style="display: none;">
                                    <div class="priceInfo" ng-show="priceInfo">
                                        <h4 class="h4Ch" style="padding-top: 20px;overflow: hidden;">
                                            <div style="
                                            float: left;
                                            display: inline-block;
                                        ">Price Information :</div>
                                            <div style="
                                            float: right;
                                            display: inline-block;
                                        ">
                                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                                                    <md-button class="md-raised btnWidth" data-ng-click="editPriceInfo();">Edit</md-button>
                                                </section>
                                            </div>
                                        </h4>
                                        <div class="priceInformation">
                                            <!-- <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items | filter : searchChannel track by $index" id="{{$index}}" style="position: relative;">
                                                <p style="font-size: 20px;">{{ item }}</p>
                                                <span id="{{item}}" class="statusC"></span>
                                            </div> -->
                                            <div class="demo-select-all-checkboxes" style="position: relative;">
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                                <p style="font-size: 20px;">5$ for 1week</p>
                                            </div>
                                        </div>
                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="btns40">
                                            <md-button class="md-raised btnWidth" data-ng-click="hidePriceInfo();">Cancel</md-button>
                                        </section>
                    
                                    </div>
                                    <div class="priceInfo" ng-show="priceInfoEdit">
                                        <h4 class="h4Ch" style="padding-top: 20px;overflow: hidden;">
                                            <p style="
                                            float: left;
                                            display: inline-block;
                                            ">Edit Price Information :</p>
                                            <p style="
                                            float: right;
                                            display: inline-block;
                                            ">
                                                <!-- <md-button class="md-raised btnWidth" data-ng-click="editChannelsList();">Edit</md-button> -->
                                                <img src="../assets/img/plus.png" style="width: 34px;margin-top: -6px;">
                                            </p>
                                        </h4>
                                        <div class="priceInformation">
                                            <!-- <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items | filter : searchChannel track by $index" id="{{$index}}" style="position: relative;">
                                                <p style="font-size: 20px;">{{ item }}</p>
                                                <span id="{{item}}" class="statusC"></span>
                                            </div> -->
                                            <div class="demo-select-all-checkboxes" style="position: relative;">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div layout="row" layout-align="space-between center">
                                                            <md-select id="status" name="type" placeholder="Select value" class="md-no-underline" ng-model="channelDetailCopy.s">
                                                                <md-option value="Active">Active</md-option>
                                                                <md-option value="Inactive">Inactive</md-option>
                                                            </md-select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="detailsData">active</p>
                                                        <div layout="row" layout-align="space-between center">
                                                            <md-select id="status" name="type" placeholder="Select value" class="md-no-underline" ng-model="channelDetailCopy.s">
                                                                <md-option value="Active">Active</md-option>
                                                                <md-option value="Inactive">Inactive</md-option>
                                                            </md-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div layout="row" layout-align="space-between center">
                                                            <md-select id="status" name="type" placeholder="Select value" class="md-no-underline" ng-model="channelDetailCopy.s">
                                                                <md-option value="Active">Active</md-option>
                                                                <md-option value="Inactive">Inactive</md-option>
                                                            </md-select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="detailsData">active</p>
                                                        <div layout="row" layout-align="space-between center">
                                                            <md-select id="status" name="type" placeholder="Select value" class="md-no-underline" ng-model="channelDetailCopy.s">
                                                                <md-option value="Active">Active</md-option>
                                                                <md-option value="Inactive">Inactive</md-option>
                                                            </md-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div layout="row" layout-align="space-between center">
                                                            <md-select id="status" name="type" placeholder="Select value" class="md-no-underline" ng-model="channelDetailCopy.s">
                                                                <md-option value="Active">Active</md-option>
                                                                <md-option value="Inactive">Inactive</md-option>
                                                            </md-select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="detailsData">active</p>
                                                        <div layout="row" layout-align="space-between center">
                                                            <md-select id="status" name="type" placeholder="Select value" class="md-no-underline" ng-model="channelDetailCopy.s">
                                                                <md-option value="Active">Active</md-option>
                                                                <md-option value="Inactive">Inactive</md-option>
                                                            </md-select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="btns40">
                                            <md-button class="md-raised btnWidth" data-ng-click="savePriceInfo();">Save</md-button>
                                            <md-button class="md-raised btnWidth" data-ng-click="cancelPriceInfo();">Cancel</md-button>
                                        </section>
                                    </div>
    

                                <!-- </div>
                            </div> -->
                        </div>

                        <div class="col-md-4" ng-if="addShow">
                                <div class="addBouquetOverlay" ng-if="!addShow"></div>

                            <h4 class="h4Ch" style="padding-top: 20px;overflow: hidden;">
                                <div style="
                                float: left;
                                display: inline-block;
                            ">Bouquet Channels :</div>
                                <div style="
                                float: right;
                                display: inline-block;
                            ">
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                                <md-button class="md-raised btnWidth" data-ng-click="editChannelsList();">Edit</md-button>
                            </section>
                            </div>
                            </h4>
                            <div class="categoryChannel">
                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="bouquetChannel in bouquetChannels | filter : searchChannel track by $index" id="{{$index}}" style="position: relative;">
                                    <p style="font-size: 20px;    width: 85%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;">{{ bouquetChannel.displayName }}</p>
                                    <!-- <md-button class="md-fab">
                                        <md-icon
                                            md-svg-src="img/icons/ic_insert_drive_file_24px.svg">
                                        </md-icon>
                                        </md-button> -->
                        
                                    <span class="statusC" ng-if="bouquetChannel.status === 'Active'" style="background-color: green;top: 8px;">
                                        <md-tooltip
                                        md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                        {{bouquetChannel.status}}
                                        </md-tooltip>
    
                                    </span>
                                    <span class="statusC" ng-if="bouquetChannel.status === 'Inactive'" style="background-color: red;top: 8px;">
                                        <md-tooltip
                                        md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                        {{bouquetChannel.status}}
                                        </md-tooltip>
    
                                    </span>
                                </div>
                                <p ng-if="!bouquetChannels.length" class="errorMessageList">No channels in bouquet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="" ng-show="editChannels">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="h4Ch" style="margin-top: 20px;">Bouquet Channels</h4>

                        <div class="row">
                            <div class="col-md-3">
                                <p class="datailsLabel" style="padding: 15px 0px;">Bouquet Name :</p>
                            </div>
                            <div class="col-md-4">
                                <p class="detailsData name" style="padding: 15px 0px;">{{bouquetDetail.name}}</p>
                            </div>
                        </div>
    



                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <div class="linkedChannels">
                                    <h4 class="h4Link">Bouquet Channels</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search" placeholder="Search" ng-model="searchBouquetChannel" style="margin-bottom: 15px;">
                                    </div>
                                    <div class="categoryChannelEdit">
                                        <div class="demo-select-all-checkboxes" flex="100" ng-repeat="bouquetChannel in bouquetChannels 
                                        | filter : searchBouquetChannel as bouquetCh track by $index" 
                                        id="{{$index}}" style="position: relative;">
                                            <p style="font-size: 20px;    width: 85%;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;">{{ bouquetChannel.displayName }}</p>
                                            <!-- <span id="{{categoryChannel.id}}" class="statusC" style="top: 5px;"></span> -->
                                            <span class="statusC" ng-if="bouquetChannel.status === 'Active'" style="background-color: green;top: 8px;">
                                                <md-tooltip
                                                md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                                {{bouquetChannel.status}}
                                              </md-tooltip>
                                            </span>
                                            <span class="statusC" ng-if="bouquetChannel.status === 'Inactive'" style="background-color: red;top: 8px;">
                                                <md-tooltip
                                                md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                                {{bouquetChannel.status}}
                                              </md-tooltip>
                                            </span>
                                        </div>
                                        <p ng-if="!bouquetCh.length" class="errorMessageList">No channels in bouquet</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="linkedChannels">
                                    <h4 class="h4Link">All Channels</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search" placeholder="Search" ng-model="searchAllChannel" style="margin-bottom: 15px;">
                                    </div>
                                    <div class="categoryChannelEdit">
                                        <div layout="row" layout-wrap>
                                            <div flex="100" layout="column">
                                                <div>
                                                <fieldset class="demo-fieldset" >
                                                    <div layout="row" layout-wrap flex>
                                                    <div flex-xs flex="100">
                                                    </div>
                                                    <div class="demo-select-all-checkboxes" flex="100" ng-repeat="channel in channelList | filter : searchAllChannel track by $index" style="position: relative;">
                                                        <span class="statusC" ng-if="channel.status === 'Active'" style="background-color: green;top: 8px;">
                                                            <md-tooltip
                                                            md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                                            {{channel.status}}
                                                          </md-tooltip>
                                                        </span>
                                                        <span class="statusC" ng-if="channel.status === 'Inactive'" style="background-color: red;top: 8px;">
                                                            <md-tooltip
                                                            md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                                            {{channel.status}}
                                                          </md-tooltip>
                                                        </span>
                                                        <md-checkbox ng-checked="exists(channel.id, selected)" ng-click="toggle(channel.id, selected)" style="    width: 85%;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;">
                                                            {{ channel.displayName }}
                                                        </md-checkbox>
                                                    </div>
                                                    </div>
                                                </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="btns40">
                            <p class="messageError">{{updateChannelsError}}</p>
                            <md-button class="md-raised btnWidth" data-ng-click="updateChannelsInBouquet(bouquetDetail._id,channelsSelected);">Save</md-button>
                            <md-button class="md-raised btnWidth" data-ng-click="discard(bouquetDetail._id);">Discard</md-button>
                        </section>
    

                    </div>
                </div>
            </div>
                        
    
    
            <!-- <form style="padding-top: 20px;padding: 20px 40px;" ng-show="formShow">
                <div class="row">
                    <div class="col-md-12">
    
                    <md-content layout-padding>
                        <form name="projectForm">
                            <div layout="row">
                                <md-input-container flex="50" style="margin-bottom: 0px;">
                                    <label>Name</label>
                                    <input id="name" name="clientName" ng-model="bouquetDetailCopy.name">
                                </md-input-container>
                                <div flex-gt-sm="50">
                                        <md-checkbox ng-model="bouquetDetailCopy.isActive" checked="{{bouquetDetailCopy.isActive}}" aria-label="Checkbox 1" style="margin-top: 30px;
                                        margin-left: 30px;">
                                            isActive: <span id="isActive">{{ bouquetDetailCopy.isActive }}</span>
                                        </md-checkbox>
                                    </div>
                            </div>
                            <div flex-gt-sm="50">
                                <p>Select channels</p>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="search" placeholder="Search Bouquet" ng-model="searchChannel">
                            </div>
                            <div class="bouquetChannels">
                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="channel in channelList | filter : searchChannel track by $index" id="{{$index}}">
                                    <md-checkbox ng-checked="exists(channel, selected)" ng-click="toggle(channel, selected)" style="margin-bottom: 10px;">
                                        {{ channel.n }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </form>
                    </md-content>
                    </div>
                </div>
            </form> -->
    

            <div class="filterPopupOverlay" style="display: none;" ng-if="filterPopup">
            </div>
            <div class="filterPopup" ng-if="filterPopup">
                <h4 class="h4Ch">Filter</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p class="datailsLabel">Status :</p>
                    </div>
                    <div class="col-md-7">
                        <md-input-container flex="100" style="width: 100%;">
                            <label>Select value</label>
                            <md-select id="sourceEPG" name="type" ng-model="channelDetailCopy.s">
                                <md-option value="Active">Active</md-option>
                                <md-option value="Inactive">Inactive</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <p class="datailsLabel">Sort :</p>
                    </div>
                    <div class="col-md-12">
                        <md-checkbox ng-model="channelDetailCopy.rc.chatOn" checked="{{channelDetailCopy.rc.chatOn}}" aria-label="Checkbox 1">
                            Creation Date: <span id="chatOn">{{ channelDetailCopy.rc.chatOn }}</span>
                        </md-checkbox>
                        <md-checkbox ng-model="channelDetailCopy.rc.chatOn" checked="{{channelDetailCopy.rc.chatOn}}" aria-label="Checkbox 1">
                            Last modified: <span id="chatOn">{{ channelDetailCopy.rc.chatOn }}</span>
                        </md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <button>Go</button>
                        <button ng-click="hideFilterPopup();">Cancel</button>
                    </div>
                </div>
            </div>



            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                <md-button class="md-raised btnWidth" ng-show="!editBouquetDetails" data-ng-click="showDeletePopup();">Delete Bouquet</md-button>
                    <!-- <md-button class="md-raised btnWidth" ng-if="addShow" data-ng-click="goToAddBouquet();">go to Add Bouquet</md-button> -->
                <!-- <md-button class="md-raised btnWidth" ng-if="!addShow" data-ng-click="addBouquet();">Add Bouquet</md-button>
                <md-button class="md-raised btnWidth" ng-if="!addShow" data-ng-click="cancelAdd();">Cancel</md-button> -->
            </section>
    
    
        </div>
    


        <div class="deletePopupOverlay" ng-if="deletePopup">
        </div>
        <div class="deletePopup" ng-if="deletePopup">
            <h4 class="h4Ch">Delete Bouquet</h4>


            <div class="row">
                <div class="col-md-12">
                    <p style="margin-top: 20px;margin-bottom: 20px;text-align: center;">Do you want to delete this bouquet ?</p>
                </div>
            </div>

            <div class="row" style="text-align: right;">
                <div class="col-md-12" style="text-align: center;">
                    <button ng-click="deleteGeneralBouquet(bouquetDetail._id);">YES</button>
                    <button ng-click="hideDeletePopup();">NO</button>
                </div>
            </div>
        </div>
    
        
    </div>
    
    