

    <div class="" ng-show="showLoading">
            <md-content layout-padding style="background-color: transparent">
              <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 245px;">
                <md-progress-circular class="md-accent" md-diameter="60"></md-progress-circular>
              </div>
            </md-content>
      </div>


<div class="categoryContainer" ng-show="!showLoading">
        <div class="allList">
            <div class="searchDiv">
                <div class="overlay-search"></div>
                <div class="searchCont">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
            <div class="categoryList">
                <div class="lists">
                    <div class="list" ng-repeat="category in categoryList
                    | filter : search as filtered_result track by $index" 
                    id="{{$index}}"
                    ng-class="{'listActive':category.id === categoryDetail.id}"
                    >
                            <!-- <div class="overlayList"></div> -->
                            <!-- <span ng-click="delete(category.id);" style="    position: absolute;
                            top: 20px;
                            right: 10px;">Delete</span> -->
                            <div class="categoryName" id="{{category.id}}" data-ng-click="categoryDetails(category.id)">
                                <img id="" class="channelImage" src="https://stage.tooliserver.com/media/v1{{category.logoUrl}}" ng-if="category.logoUrl !== 'IMAGE NOT FOUND'" style="width: 25%;margin-right: 5px;height: 44px;">
                                <img id="" class="channelImage" src="../assets/img/placeholder.png" ng-if="category.logoUrl === 'IMAGE NOT FOUND'" style="width: 25%;margin-right: 5px;height: 44px;">
                                <div style="display:inline-block;margin-top:-5px;display: inline-block;
                                width: 70%;">
                                    <p class="chName">{{category.name}}</p>
                                    <!-- <p class="chId">
                                            {{category.id}}
                                    </p> -->
                                </div>
                                <!-- <span class="badge">
                                        {{category.newurl}}
                                </span> -->
                            </div>
                    </div>
                    <p ng-if="!filtered_result.length" class="errorMessageList">No Categories</p>
                </div>
            </div>
        </div>

        <div class="" ng-show="showLoadingDetails">
            <md-content layout-padding style="background-color: transparent">
                <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 245px;">
                <md-progress-circular class="md-accent" md-diameter="60"></md-progress-circular>
                </div>
            </md-content>
        </div>

        <div class="listDetails" ng-show="!showLoadingDetails">
            <div class="" ng-show="!editChannels">
                <div class="row">
                    <div class="col-md-7">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="detailsBlock">
                                    <h4 class="h4Ch" style="padding-top: 20px;overflow: hidden;">
                                        <div class="detailsBlockH">Category Information
                                        </div>
                                            <div class="detailsBlockB">
                                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                                                <md-button class="md-raised btnWidth" ng-show="!editCategoryDetails" data-ng-click="editInformation();">Edit Information</md-button>
                                                <md-button class="md-raised btnWidth updateCategoryDetails" ng-show="editCategoryDetails" data-ng-click="updateCategoryDetails(categoryDetail.id);">Save Information</md-button>
                                                <md-button class="md-raised btnWidth" ng-show="editCategoryDetails" data-ng-click="cancel();">Cancel</md-button>
                                            </section>
                                        </div>
                                    </h4>
                                    <div class="detailsImg">
                                        <img src="https://stage.tooliserver.com/media/v1{{categoryDetail.logoUrl}}" ng-if="categoryDetail.logoUrl !== 'http://default_tooli_logo_url.png'" style="width: 130px;">
                                        <img src="../assets/img/placeholder.png" ng-if="categoryDetail.logoUrl === 'http://default_tooli_logo_url.png'" style="width: 130px;">
                                        <form method="POST" enctype="multipart/form-data" id="fileUploadForm" style="width: 30%;display: inline-block;margin-left: 3%;margin-top: 15px;" ng-show="editCategoryDetails">
                                            <input id="categoryImgloaded" type="file" name="files"/ style="border: 0px;padding: 0px;">
                                            <p class="messageError categoryImgErr" style="display: none;">Invalid Image URL</p>
                        
                                            <!-- <input type="submit" value="Upload Image" id="btnSubmit" data-ng-click="uploadImage(categoryDetail.id)" /> -->
                                        </form>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p class="datailsLabel margin5">Category Name :</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p class="detailsData margin10 name" ng-show="!editCategoryDetails">{{categoryDetail.name}}</p>
                                            <div layout="row" ng-show="editCategoryDetails">
                                                <md-input-container md-no-float class="md-block" flex="100">
                                                    <input id="name" ng-model="categoryDetailCopy.name" type="text" placeholder="Category Name" size="20" maxlength="20">
                                                    <p class="messageError nameError" style="display: none;"></p>
                                                </md-input-container>
                                            </div>
                                            <p class="messageError" ng-if="error">Invalid Category Name</p>
                                            <!-- <p class="detailsData name">{{channelDetail.n}}</p> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p class="datailsLabel margin5">Number of Channels :</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p class="detailsData margin5" ng-show="!editChannelDetails">{{totalCount}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p class="datailsLabel margin5">Creation Date :</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p class="detailsData margin5" ng-show="!editChannelDetails">{{categoryDetail.createdDate | date : 'longDate'}} {{categoryDetail.createdDate | date : 'mediumTime'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <md-divider></md-divider> -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="detailsBlock">
                                        <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;">
                                            <div class="detailsBlockH">Log Information</div>
                                        </h4>        
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p class="datailsLabel margin5">Last Modified :</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p class="detailsData margin5">
                                                    {{categoryDetail.modifiedDate | date : 'longDate'}} {{categoryDetail.modifiedDate | date : 'mediumTime'}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class=" margin5"><a class="link">Log Details</a></p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

            
    
                    </div>
                    <div class="col-md-5">
                        <h4 class="h4Ch" style="padding-top: 20px;overflow: hidden;">
                            <p style="
                            float: left;
                            display: inline-block;
                        ">Category Channels :</p>
                            <p style="
                            float: right;
                            display: inline-block;
                        ">
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                                <md-button class="md-raised btnWidth" data-ng-click="editChannelsList();">Edit</md-button>
                            </section>
    
                            </p>
                        </h4>
                        <div class="categoryChannel">
                            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="categoryChannel in categoryChannels | filter : searchChannel track by $index" id="{{$index}}" style="position: relative;">
                                <p style="font-size: 20px;    width: 85%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;">{{ categoryChannel.displayName }}</p>
                                <!-- <md-button class="md-fab">
                                    <md-icon
                                      md-svg-src="img/icons/ic_insert_drive_file_24px.svg">
                                    </md-icon>
                                  </md-button> -->
                    
                                <span class="statusC" ng-if="categoryChannel.status === 'Active'" style="background-color: green;top: 8px;">
                                    <md-tooltip
                                    md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                    {{categoryChannel.status}}
                                  </md-tooltip>

                                </span>
                                <span class="statusC" ng-if="categoryChannel.status === 'Inactive'" style="background-color: red;top: 8px;">
                                    <md-tooltip
                                    md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                    {{categoryChannel.status}}
                                  </md-tooltip>

                                </span>
                            </div>
                            <p ng-if="!categoryChannels.length" class="errorMessageList">No channels in category</p>
                        </div>

                        <!-- <div class="row">
                            <div class="form-group">
                                <input type="text" class="form-control" id="search" placeholder="Search" ng-model="searchChannel">
                            </div>
                            <div class="col-md-6">
                                <div class="categoryChannel">
                                    <div layout="row" layout-wrap>
                                        <div flex="100" layout="column">
                                            <div>
                                            <fieldset class="demo-fieldset" >
                                                <div layout="row" layout-wrap flex>
                                                <div flex-xs flex="100">
                                                <md-checkbox aria-label="Select All"
                                                                ng-checked="isChecked()"
                                                                md-indeterminate="isIndeterminate()"
                                                                ng-click="toggleAll()">
                                                    <span ng-if="isChecked()">Un-</span>Select All
                                                </md-checkbox>
                                                </div>
                                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items | filter : searchChannel track by $index" id="{{$index}}" style="position: relative;">
                                                    <span id="{{item}}" class="statusC"></span>
                                                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                                    {{ item }}
                                                    </md-checkbox>
                                                </div>
                                                </div>
                                            </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="categoryChannel">
                                    <div layout="row" layout-wrap>
                                        <div flex="100" layout="column">
                                            <div>
                                            <fieldset class="demo-fieldset" >
                                                <div layout="row" layout-wrap flex>
                                                <div flex-xs flex="100">
                                                <md-checkbox aria-label="Select All"
                                                                ng-checked="isChecked()"
                                                                md-indeterminate="isIndeterminate()"
                                                                ng-click="toggleAll()">
                                                    <span ng-if="isChecked()">Un-</span>Select All
                                                </md-checkbox>
                                                </div>
                                                <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items" style="position: relative;">
                                                    <span id="{{item}}" class="statusC"></span>
                                                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                                    {{ item }}
                                                    </md-checkbox>
                                                </div>
                                                </div>
                                            </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>



            <div class="" ng-show="editChannels">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="h4Ch" style="margin-top: 20px;">Category Channels</h4>

                        <div class="row">
                            <div class="col-md-3">
                                <p class="datailsLabel" style="padding: 15px 0px;">Category Name :</p>
                            </div>
                            <div class="col-md-4">
                                <p class="detailsData name" style="padding: 15px 0px;">{{categoryDetail.name}}</p>
                            </div>
                        </div>
    



                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <div class="linkedChannels">
                                    <h4 class="h4Link">Category Channels</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search" placeholder="Search" ng-model="searchCategoryChannel" style="margin-bottom: 15px;">
                                    </div>
                                    <div class="categoryChannelEdit">
                                        <div class="demo-select-all-checkboxes" flex="100" ng-repeat="categoryChannel in categoryChannels 
                                        | filter : searchCategoryChannel as categoryCh track by $index" 
                                        id="{{$index}}" style="position: relative;">
                                            <p style="font-size: 20px;    width: 85%;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;">{{ categoryChannel.displayName }}</p>
                                            <!-- <span id="{{categoryChannel.id}}" class="statusC" style="top: 5px;"></span> -->
                                            <span class="statusC" ng-if="categoryChannel.status === 'Active'" style="background-color: green;top: 8px;">
                                                <md-tooltip
                                                md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                                {{categoryChannel.status}}
                                              </md-tooltip>
                                            </span>
                                            <span class="statusC" ng-if="categoryChannel.status === 'Inactive'" style="background-color: red;top: 8px;">
                                                <md-tooltip
                                                md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                                {{categoryChannel.status}}
                                              </md-tooltip>
                                            </span>
                                        </div>
                                        <p ng-if="!categoryCh.length" class="errorMessageList">No channels in category</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="linkedChannels">
                                    <h4 class="h4Link">All Channels</h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search" placeholder="Search" ng-model="searchAllChannel" style="margin-bottom: 15px;">
                                    </div>
                                    <div class="categoryChannelEdit">
                                        <div layout="row" layout-wrap>
                                            <div flex="100" layout="column">
                                                <div>
                                                <fieldset class="demo-fieldset" >
                                                    <div layout="row" layout-wrap flex>
                                                    <div flex-xs flex="100">
                                                    </div>
                                                    <div class="demo-select-all-checkboxes" flex="100" ng-repeat="channel in channelList | filter : searchAllChannel track by $index" style="position: relative;">
                                                        <span class="statusC" ng-if="channel.status === 'Active'" style="background-color: green;top: 8px;">
                                                            <md-tooltip
                                                            md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                                            {{channel.status}}
                                                          </md-tooltip>
                                                        </span>
                                                        <span class="statusC" ng-if="channel.status === 'Inactive'" style="background-color: red;top: 8px;">
                                                            <md-tooltip
                                                            md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                                            {{channel.status}}
                                                          </md-tooltip>
                                                        </span>
                                                        <md-checkbox ng-checked="exists(channel.id, selected)" ng-click="toggle(channel.id, selected)" style="    width: 85%;
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;">
                                                            {{ channel.displayName }}
                                                        </md-checkbox>
                                                    </div>
                                                    </div>
                                                </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="btns40">
                            <p class="messageError">{{updateChannelsError}}</p>
                            <md-button class="md-raised btnWidth" data-ng-click="updateChannelsInCategory(categoryDetail.id,channelsSelected);">Save</md-button>
                            <md-button class="md-raised btnWidth" data-ng-click="discard(categoryDetail.id);">Discard</md-button>
                        </section>
    

                    </div>
                </div>
            </div>
                        
    
    

    
    
    </div>
    
    