<style type="text/css">
body {
		width: 100%;
		height: 100%;
		background-color: #202020;
}

h1 {
	    display: table-cell;
		vertical-align: middle;
		text-align:center;
		color: #FFFFFF;
}

*::-webkit-input-placeholder {
    font-size: 14px !important;
    color: #b6b6b6!important;
    font-weight: 700 !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font-size: 14px !important;
    color: #b6b6b6!important;
    font-weight: 700 !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    font-size: 14px !important;
    color: #b6b6b6!important;
    font-weight: 700 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px !important;
    color: #b6b6b6!important;
    font-weight: 700 !important;
}

</style>

<body>
    <div class="login" style="">
        <!-- <div class="login" style="background-image: url(../assets/img/loginBack.jpg);background-repeat: no-repeat;background-size: 100% 100%"> -->
            <!-- <img src="../assets/img/loginoverlay.png" style="position: absolute;z-index: -1;"> -->
        <div class="loginForm">
                <div class="loginLogo">
                    <!-- <img src="../assets/img/sLogo.png"> -->
                    <p class="loginHead">Login</p>
                </div>
                <form>

                    <md-content layout-padding style="overflow: hidden;">
                        <form name="projectForm">
                            <!-- <div layout="row">
                                <md-input-container flex="100">
                                    <input type="email" name="email" class="form-control" id="userName" ng-keypress="preventSpace($event)" ng-keyup="showLabel()" style="margin-bottom: -40px;">
                                </md-input-container>
    
                            </div> -->
                            <div layout="row">
                                    <md-input-container md-no-float class="md-block" flex="100">
                                        <input type="email" name="email" class="form-control" id="userName" placeholder="Email" ng-keypress="preventSpace($event);">
                                    </md-input-container>
                                </div>
                            <!-- <div layout="row">
                                <md-input-container flex="100">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" id="password" ng-keypress="preventSpace($event);" size="20" maxlength="20" ng-keyup="showPasswordLabel()" style="margin-bottom: -40px;">
                                </md-input-container>
                            </div> -->
                            <div layout="row">
                                <md-input-container md-no-float class="md-block" flex="100">
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" ng-keypress="preventSpace($event);">
                                </md-input-container>
                            </div>

                        </form>
                        <div class="row">
                                <div class="col-md-12">
                                    <p class="messageError"></p>
                                </div>
                            </div>
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                <md-button class="md-raised btnWidth" ng-click="Login()">Login</md-button>
                            </section>
            
                    </md-content>


                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="inpLabel emailInp">Email or Mobile</label>
                            <input type="email" name="email" class="form-control" id="userName" placeholder="Email or Mobile" ng-keypress="preventSpace($event)" ng-keyup="showLabel()">
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="inpLabel passwordInp">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password" ng-keypress="preventSpace($event);" size="20" maxlength="20" ng-keyup="showPasswordLabel()">
                         <span toggle="#password-field" class="fa fa-fw fa-eye field-icon showPassword">
                            <img class="showHide" src="../assets/img/hide.png">
                        </span>
                            <span class="weak"></span>
                            <span class="medium"></span>
                            <span class="strong"></span>
                        </div>
                    </div>
                </div> -->
    
                <!-- <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-login" ng-click="Login()">
                            <span class="loginLoadSpan">Sign in</span>
                            <img class="loginLoad" src="../assets/img/load.png">
                        </button>
                    </div>
                </div> -->
            </form>
        </div>        
        
        
        <!-- <div class="LogSign">
            <div class="loginBtn-overlay">
                <a class="loginBtn">
                    <p class="dontAcount">Don't have a Tooli account yet ?</p>
                </a>
                <a href="#!/signup"><input type="button" value="Sign up" class=" btn toSignup"></a>
            </div>
        </div> -->
    </div>

