

    <div class="" ng-show="showLoading">
            <md-content layout-padding style="background-color: transparent">
              <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 245px;">
                <md-progress-circular class="md-accent" md-diameter="60"></md-progress-circular>
              </div>
            </md-content>
      </div>
  
<div class="channelsContainer" ng-show="!showLoading">

        
        
 
          
    <div class="allList">
        <div class="searchDiv">
            <div class="overlay-search"></div>
            <div class="searchCont">
                <div class="form-group">
                    <input type="text" class="form-control" id="search" placeholder="Search" ng-model="search">
                    <img class="" src="app/assets/img/filter.png" ng-click="showFilterPopup();">
                    <img class="" src="app/assets/img/refresh.png" ng-click="getAllChannels(120);" ng-mouseover="hoverIn();" ng-mouseleave="hoverOut();">
                    <span ng-show="showDate"
                    style="position: absolute;
                    top: 12px;
                    right: -212px;
                    background-color: dimgrey;
                    padding: 5px;
                    border-radius: 8px;
                    color: #FFF;">Last updated :  {{lastUpdate | date : 'longDate'}} {{lastUpdate | date : 'mediumTime'}}</span>
                </div>
            </div>
        </div>
        <!-- ng-style="{'background-color':$index === 0 ? '#909090' : '' }" -->

        <div class="channelsList">
            <div class="lists" whenScrolled="loadMore();">
                <div class="list" ng-repeat="channel in channelList
                                | orderBy:sortByDate:sortReverse 
                                | filter : statusFilter :comparator
                                | filter : search as filtered_result track by $index" 
                                id="{{$index}}" data-ng-click="channelDetails(channel.id)"
                                ng-class="{'listActive':channel.id === channelDetail.id}"
                                >
                        <!-- <div class="overlayList"></div> -->
                        <div class="channelName" id="{{channel.id}}">
                            <img id="" class="channelImage" src="https://stage.tooliserver.com/media/v1{{channel.logoUrl}}" ng-if="channel.logoUrl !== 'http://default_tooli_logo_url.png'" style="width: 25%;margin-right: 5px;height: 44px;">
                            <img id="" class="channelImage" src="../assets/img/placeholder.png" ng-if="channel.logoUrl === 'http://default_tooli_logo_url.png'" style="width: 25%;margin-right: 5px;height: 44px;">
                            <div style="display:inline-block;margin-top:-5px;display: inline-block;
                            width: 70%;">
                                <p class="chName">{{channel.displayName}}</p>
                                <!-- <p class="chId">
                                    {{$index}}
                                </p> -->
                            </div>
                            <span class="badge">
                                    {{channel.newurl}}
                            </span>
                            <span class="statusC" ng-if="channel.status === 'Active'" style="background-color: green">
                                <md-tooltip
                                md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                {{channel.status}}
                              </md-tooltip>
                            </span>
                            <span class="statusC" ng-if="channel.status === 'Inactive'" style="background-color: red">
                                <md-tooltip
                                md-direction="{{demo.tipDirection}}" style="font-size: 16px;">
                                {{channel.status}}
                              </md-tooltip>
                            </span>
                            <!-- <span class="statusC" ng-if="channelDetail.status === 'Suspended'"></span> -->
                        </div>
                </div>
                <p ng-if="!filtered_result.length" class="errorMessageList">No Channels</p>
            </div>
        </div>
    </div>

    <div class="" ng-show="showLoadingDetails">
        <md-content layout-padding style="background-color: transparent">
            <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 245px;">
            <md-progress-circular class="md-accent" md-diameter="60"></md-progress-circular>
            </div>
        </md-content>
    </div>

    <div class="listDetails" ng-show="!showLoadingDetails">
        <div class="row">
            <div class="col-md-6">
                    <div class="detailsBlock">
                    <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;margin: 0px;">
                        <div class="detailsBlockH">Channel Information</div>
                    <div class="detailsBlockB">
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                        <md-button class="md-raised btnWidth" ng-show="!editChannelDetails" data-ng-click="editChannelInfo();">Edit</md-button>
                        <md-button class="md-raised btnWidth updateChannelInfo" ng-show="editChannelDetails" data-ng-click="updateChannelInfo(channelDetail.id);">Update</md-button>
                        <md-button class="md-raised btnWidth" ng-show="editChannelDetails" data-ng-click="cancelChannelInfo();">Cancel</md-button>
                        <!-- <md-button class="md-raised btnWidth" ng-show="!editChannelDetails" data-ng-click="channelDuration();">Channel Duration</md-button> -->
                    </section>
                </div>
            </h4>
            <div class="detailsImg" style="margin-top: -10px;">
                <img src="https://stage.tooliserver.com/media/v1{{channelDetail.logoUrl}}" ng-if="channelDetail.logoUrl !== 'http://default_tooli_logo_url.png'" style="width: 130px;    height: 70px;margin-bottom: 10px;">
                <img src="../assets/img/placeholder.png" ng-if="channelDetail.logoUrl === 'http://default_tooli_logo_url.png'" style="width: 130px;    height: 70px;margin-bottom: 10px;">
                <form method="POST" enctype="multipart/form-data" id="fileUploadForm" style="width: 30%;display: inline-block;margin-left: 3%;margin-top: 15px;" ng-show="editChannelDetails">
                    <input id="channelImgloaded" type="file" name="files"/ style="border: 0px;">
                    <p class="messageError channelImgErr" style="display: none;">Invalid Image URL</p>
                    <!-- <input type="submit" value="Upload Image" id="btnSubmit" data-ng-click="uploadImage(channelDetail.id)" /> -->
                </form>
            </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="datailsLabel">Display Name :</p>
                    </div>
                    <div class="col-md-7">
                        <p class="detailsData name" ng-show="!editChannelDetails">{{channelDetail.displayName}}</p>
                        <div layout="row" ng-show="editChannelDetails">
                            <md-input-container md-no-float class="md-block" flex="100">
                                <input ng-model="channelDetailCopy.displayName" type="text" placeholder="Channel Name" id="name" size="20" maxlength="20">
                                <p class="messageError nameError" style="display: none;"></p>
                            </md-input-container>
                        </div>
                        <!-- <p class="detailsData name">{{channelDetail.n}}</p> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="datailsLabel">Channel Name :</p>
                    </div>
                    <div class="col-md-7">
                        <p class="detailsData">{{channelDetail.name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="datailsLabel">Channel URL :</p>
                    </div>
                    <div class="col-md-12">
                        <p class="detailsData hrefLink" style="margin-bottom: 10px;" ng-repeat="stream in channelDetail.streamUrls">
                            {{stream}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="datailsLabel">Channel Status :</p>
                    </div>
                    <div class="col-md-7">
                        <p class="detailsData" ng-show="!editChannelDetails">{{channelDetail.status}}</p>
                        <div layout="row" layout-align="space-between center" ng-show="editChannelDetails">
                            <md-select id="status" name="type" placeholder="Select value" class="md-no-underline" ng-model="channelDetailCopy.status">
                                <md-option value="Active">Active</md-option>
                                <md-option value="Inactive">Inactive</md-option>
                                <md-option value="Suspended">Suspended</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
            </div>


            
            <div class="detailsBlock">
                    <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;">
                        <div class="detailsBlockH">EPG Details</div>
                            <div class="detailsBlockB">
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                                <md-button class="md-raised btnWidth" ng-show="!editChannelEpgDetails" data-ng-click="editEpgDetails();">Edit</md-button>
                                <md-button class="md-raised btnWidth" ng-show="editChannelEpgDetails" data-ng-click="updateEpgDetails(channelDetail.id);">Update</md-button>
                                <md-button class="md-raised btnWidth" ng-show="editChannelEpgDetails" data-ng-click="cancelEpgDetails();">Cancel</md-button>
                                <!-- <md-button class="md-raised btnWidth" ng-show="!editChannelDetails" data-ng-click="channelDuration();">Channel Duration</md-button> -->
                            </section>
                        </div>
                    </h4>
                    <div class="row">
                        <div class="col-md-12" ng-show="!editChannelEpgDetails">
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="datailsLabel">
                                        Support EPG :
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <p class="detailsData">{{ channelDetail.isSupportEpg }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <md-checkbox ng-model="channelDetail.isSupportEpg" ng-show="editChannelEpgDetails" checked="{{channelDetail.isSupportEpg}}" aria-label="Checkbox 1" style="margin-bottom: 5px;">
                                Support EPG: <span id="supportEPG">{{ channelDetail.isSupportEpg }}</span>
                            </md-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="datailsLabel">EPG Name :</p>
                        </div>
                        <div class="col-md-7">
                            <p class="detailsData epgName" ng-show="!editChannelEpgDetails">{{channelDetail.epg.name}}</p>
                            <div layout="row" ng-show="editChannelEpgDetails">
                                <md-input-container md-no-float class="md-block" flex="100">
                                    <input ng-model="channelDetailCopy.epg.name" type="text" placeholder="EPG Name" id="epgName" size="20" maxlength="20">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="datailsLabel">EPG Source :</p>
                        </div>
                        <div class="col-md-7">
                            <p class="detailsData" ng-show="!editChannelEpgDetails">{{channelDetail.epg.source}}</p>
                            <!-- <p class="detailsData epgName" style="display: none;">{{channelDetail.epg.name}}</p> -->
                            <div layout="row" layout-align="space-between center" ng-show="editChannelEpgDetails">
                                <md-select id="sourceEPG" name="type" placeholder="Select value" class="md-no-underline" ng-model="channelDetailCopy.epg.source">
                                    <md-option value="EPGGUIDE">EPGGUIDE</md-option>
                                    <md-option value="IPTV">IPTV</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col-md-12 EpgError" style="display: none;">
                            <p class="messageError"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="datailsLabel">Linked EPG :</p>
                        </div>
                        <div class="col-md-7">
                            <!-- <md-button class="md-raised btnWidth" data-ng-click="showLinkedChannels();" ng-if="!linkedChannels">View linked channels</md-button>
                            <md-button class="md-raised btnWidth" data-ng-click="showLinkedChannels();" ng-if="linkedChannels">Edit linked channels</md-button> -->
                        </div>
                    </div>
                </div>



            </div>




            <div class="col-md-6">

                    <div class="detailsBlock">


                            <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;">
                                    <div class="detailsBlockH">Channel Details</div>
                                </h4>        
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="datailsLabel">Category :</p>
                                </div>
                                <div class="col-md-7">
                                    <p class="detailsData name">
                                        <span class="channelCategory" ng-repeat="category in channelDetail.categories">
                                            {{category.name}}<span class="comma">,</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="datailsLabel">Bouquet Name :</p>
                                </div>
                                <div class="col-md-7">
                                    <p class="detailsData">
                                        <span class="channelBouquet" ng-repeat="bouquet in channelDetail.bouquets">
                                            {{bouquet.name}}<span class="comma">,</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="datailsLabel">Provider Name :</p>
                                </div>
                                <div class="col-md-7">
                                    <p class="detailsData">{{channelDetail.providerName}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="datailsLabel">Creation Date :</p>
                                </div>
                                <div class="col-md-7">
                                    <p class="detailsData">{{channelDetail.createdDate | date : 'longDate'}} {{channelDetail.createdDate | date : 'mediumTime'}}</p>
                                </div>
                            </div>
                        </div>

                

                <div class="detailsBlock">
                                <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;">
                                    <div class="detailsBlockH">Chat room information</div>
                                        <div class="detailsBlockB">
                                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="channelsBtns">
                                            <md-button class="md-raised btnWidth" ng-show="!editChannelChatRoom" data-ng-click="editChatRoomInfo();">Edit</md-button>
                                            <md-button class="md-raised btnWidth" ng-show="editChannelChatRoom" data-ng-click="updateChatRoomInfo(channelDetail.id);">Update</md-button>
                                            <md-button class="md-raised btnWidth" ng-show="editChannelChatRoom" data-ng-click="cancelChatRoomInfo();">Cancel</md-button>
                                            <!-- <md-button class="md-raised btnWidth" ng-show="!editChannelDetails" data-ng-click="channelDuration();">Channel Duration</md-button> -->
                                        </section>
                                    </div>
                                </h4>
        
                        <div class="row">
                            <div class="col-md-5">
                                <p class="datailsLabel">Room ID :</p>
                            </div>
                            <div class="col-md-7">
                                <p class="detailsData name">{{channelDetail.rocketChat.roomId}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <p class="datailsLabel">Room Name :</p>
                            </div>
                            <div class="col-md-7">
                                <p class="detailsData hrefLink"><a href="https://stage2-chat.tooliserver.com:8443/channel/{{channelDetail.rocketChat.roomName}}" target="_blank	">{{channelDetail.rocketChat.roomName}}</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-show="!editChannelChatRoom">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="datailsLabel">
                                                Chat on:
                                        </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="detailsData">{{ channelDetail.rocketChat.isChatOn }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <md-checkbox ng-model="channelDetailCopy.rocketChat.isChatOn" ng-show="editChannelChatRoom" checked="{{channelDetailCopy.rocketChat.isChatOn}}" aria-label="Checkbox 1" style="margin-bottom: 5px;">
                                    Chat on: <span id="chatOn">{{ channelDetailCopy.rocketChat.isChatOn }}</span>
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <p class="datailsLabel">Linked chatrooms :</p>
                            </div>
                            <div class="col-md-7">
                                <!-- <md-button class="md-raised btnWidth" data-ng-click="showLinkedChannels();" ng-if="!linkedChannels">View linked channels</md-button>
                                <md-button class="md-raised btnWidth" data-ng-click="showLinkedChannels();" ng-if="linkedChannels">Edit linked channels</md-button> -->
                            </div>
                        </div>
                </div>
        
                <div class="detailsBlock">
                    <h4 class="h4Ch" style="padding-top: 10px;overflow: hidden;">
                            <div class="detailsBlockH">Log Information</div>
                        </h4>        
        
                        <div class="row">
                            <div class="col-md-4">
                                <p class="datailsLabel">Last Modified :</p>
                            </div>
                            <div class="col-md-6">
                                <p class="detailsData">
                                        {{channelDetail.modifiedDate | date : 'longDate'}} {{channelDetail.modifiedDate | date : 'mediumTime'}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                <p><a class="link">Log Details</a></p>
                            </div>
                        </div>
                </div>

            </div>
        


        </div>


        



    
                <div class="row">
        
        <div class="">

            <div class="row">
            <div class="col-md-4">
                <div class="linkedChannels" ng-if="linkedChannels">
                    <h4 class="h4Link">Link Channels</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" placeholder="Search" ng-model="searchLinkChannels" style="margin-bottom: 15px;">
                    </div>
                    <div class="categoryChannelEdit" style="max-height: 280px;height: 280px;">
                        <div layout="row" layout-wrap>
                            <div flex="100" layout="column">
                                <div>
                                <fieldset class="demo-fieldset" >
                                    <div layout="row" layout-wrap flex>
                                    <div flex-xs flex="100">
                                    <!-- <md-checkbox aria-label="Select All"
                                                    ng-checked="isChecked()"
                                                    md-indeterminate="isIndeterminate()"
                                                    ng-click="toggleAll()">
                                        <span ng-if="isChecked()">Un-</span>Select All
                                    </md-checkbox> -->
                                    </div>
                                    <div class="demo-select-all-checkboxes" flex="100" ng-repeat="channel in channelList | filter : searchLinkChannels track by $index" style="position: relative;">
                                        <md-checkbox ng-checked="exists(channel.id, selected)" ng-click="toggle(channel.id, selected)">
                                            {{ channel.name }}
                                        </md-checkbox>
                                    </div>
                                    </div>
                                </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="btns10">
                        <md-button class="md-raised btnWidth" data-ng-click="">Ok</md-button>
                        <md-button class="md-raised btnWidth" data-ng-click="hideLinkedChannels();">Cancel</md-button>
                    </section>

                </div>
            </div>
        </div>

            


        </div>

        


        <div class="filterPopupOverlay" ng-if="filterPopup">
        </div>
        <div class="filterPopup" ng-if="filterPopup">
            <h4 class="h4Ch">Filter</h4>
            <p class="test" style="display: none">asd</p>
            <div class="row" style="    margin-top: 20px;
            margin-bottom: 20px;">
                <div class="col-md-4">
                    <p class="datailsLabel">Status :</p>
                </div>
                <div class="col-md-6">
                    <div layout="row" layout-align="space-between center" id="filterStatus">
                        <md-select id="statusFilter" name="status" placeholder="Select value" class="md-no-underline" ng-model="statusFilter">
                            <md-option value="All" ng-selected="{{selectedVal == 'All'}}">All</md-option>
                            <md-option value="Active" ng-selected="{{selectedVal == 'Active'}}">Active</md-option>
                            <md-option value="Inactive" ng-selected="{{selectedVal == 'Inactive'}}">Inactive</md-option>
                            <md-option value="Suspended" ng-selected="{{selectedVal == 'Suspended'}}">Suspended</md-option>
                        </md-select>
                    </div>

                </div>
            </div>

            <md-divider></md-divider>

            <div class="row" style="    margin-top: 20px;                    margin-bottom: 20px;">
                <div class="col-md-4">
                    <p class="datailsLabel">Sort :</p>
                </div>
                <div class="col-md-8">
                    <md-radio-group ng-model="sortByDate">
                        <span class="selectedRadio" style="display: none;">{{sortByDate}}</span>
                        <md-radio-button value="createdDate" id="radioCreation">Creation Date</md-radio-button>
                        <md-radio-button value="modifiedDate" id="radioModified">Last modified</md-radio-button>
                    </md-radio-group>
                </div>
            </div>

            <md-divider></md-divider>

            <div class="row" style="text-align: right;">
                <div class="col-md-12">
                    <button ng-click="filter();">Go</button>
                    <button ng-click="hideFilterPopup();">Cancel</button>
                </div>
            </div>
        </div>



    </div>


